@font-face {
    font-family: 'Mittleschrift';
    src: url('fonts/DMCAPS.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Contenedor del video de fondo */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/* Estilo del video */
.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el contenedor sin distorsión */
    transform: translate(-50%, -50%);
}

/* Estilo para la capa de superposición */
.index-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Asegura que esté por encima del video */
}

/* Estilo para el título centrado */
.center-title {
    font-family: 'Mittleschrift', sans-serif;
    font-size: 2rem; /* Ajusta el tamaño de fuente según tu preferencia */
    color: white; /* Color del texto */
    text-decoration: none;
    text-align: center; /* Centra el texto horizontalmente */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mayor legibilidad */
    padding: 10px 20px; /* Espaciado interno para el texto */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo para la barra de navegación cuando está en la parte superior de la página */
header {
    background-color: transparent; /* Fondo transparente inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: none; /* Sin sombra inicialmente */
    display: flex;
    justify-content: space-between; /* Para separar los elementos en la barra de navegación */
    align-items: center; /* Para alinear verticalmente los elementos */
    padding: 1rem; /* Añadimos un poco de espacio entre los elementos */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* Transición suave para los cambios */
    color: white; /* Color del texto inicialmente */
}

/* Estilo para la barra de navegación cuando la página está desplazada o al pasar el cursor */
header.scrolled, header:hover {
    background-color: white; /* Fondo blanco cuando se desplaza */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
    color: black; /* Color del texto cuando se desplaza */
}

/* Estilo para el nombre en la barra de navegación */
.name {
    font-family: 'Mittleschrift', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    flex-grow: 0; /* Permite que el nombre ocupe solo el espacio necesario */
    text-align: left;
}

/* Ajustar el color del nombre según el estado del header */
header.scrolled .name, header:hover .name {
    color: black;
}

/* Ajustar el color del nombre cuando el header no está desplazado */
header .name {
    color: white;
}

/* Estilo para el menú de las tres rayas */
.menu-container {
    display: flex;
    align-items: center;
}

.menu-toggle {
    cursor: pointer;
    margin-right: 25px; /* Ajustamos la posición para mantener el icono dentro de la pantalla */
    position: relative; /* Para posicionar el menú desplegable relativo a este elemento */
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Agregamos una transición para suavizar la animación */
}

/* Ajustar el color del menú de las tres rayas según el estado del header */
header.scrolled .menu-toggle span, header:hover .menu-toggle span {
    background-color: black;
}

/* Estilo para el botón de cierre */
.close-btn {
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px;
}

.close-btn::before,
.close-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black; /* Color negro por defecto */
    top: 50%;
    left: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-btn::before {
    transform: translateY(-50%) rotate(45deg);
}

.close-btn::after {
    transform: translateY(-50%) rotate(-45deg);
}

/* Estilo para el menú desplegable */
.nav-links {
    position: fixed;
    top: 0;
    right: -300px; /* Posición inicial fuera de la pantalla */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 250px; /* Ancho del menú */
    height: 100%; /* Altura del menú */
    z-index: 998; /* Asegurar que esté por encima del resto del contenido */
    transition: right 0.3s ease, opacity 0.3s ease; /* Agregamos una transición para suavizar el despliegue */
    opacity: 0; /* Inicialmente invisible */
}

/* Estado del menú cuando está abierto */
.menu-open .nav-links {
    right: 0; /* Desplazamos el menú hacia la derecha */
    opacity: 1; /* Hacemos visible el menú */
}

/* Estilo para los enlaces del menú desplegable */
.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0 0; /* Agrega un margen superior para separar los enlaces de la "X" */
}

.nav-links ul li {
    margin-bottom: 1rem;
}

.nav-links ul li a {
    font-family: 'Mittleschrift', sans-serif;
    font-size: 1.2rem;
    color: black; /* Color del texto */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave para los cambios */
}

.nav-links ul li a:hover {
    color: gray; /* Cambiar color al pasar el cursor */
}

/* Estilo del footer específico para about.html */
/* Estilo del footer */
footer {
    font-family: 'Mittleschrift', sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    margin: 0; /* Elimina cualquier margen */
}

.footer-content {
    display: flex;
    flex-direction: column; /* Cambia la dirección del contenido a columna */
    align-items: center; /* Alinea el contenido en el centro */
    width: 100%; /* Asegura que ocupe todo el ancho del footer */
}

footer span {
    font-weight: bold;
    margin-top: 10px; /* Añadir espacio entre el icono y el texto */
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #888;
}



/* Estilos adicionales para la versión de escritorio (opcional) */
@media (min-width: 769px) {
    .video-background {
        height: 100vh; /* Cubrir toda la pantalla en la versión de escritorio */
    }

    .index-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center-title {
        font-size: 2.5rem; /* Aumentar el tamaño de la fuente en pantallas más grandes */
    }
}
